body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling on small screens */
}

header {
  color: rgba(0, 0, 0, 0.96);
  text-align: center;
  padding: 20px;
}

#skills-icons {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*margin-left: auto; !* Move it to the right on smaller screens *!*/

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

#skills-icons img {
  width: 50px;
  height: auto;
  margin: 5px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  max-width: 100%; /* Make the menu full-width on small screens */
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: 0; /* Remove the default margin */
}

nav ul li {
  border: 1px solid rgba(0, 0, 0, 0.96);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px; /* Add some margin between list items on small screens */
}

nav ul li:hover {
  border-bottom: 5px solid rgba(0, 0, 0, 0.96);
}

nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.96);
}

h1 {
  margin: 0;
}

.project,
.article {
  margin: 20px 0;
}

footer {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Make the footer full-width on small screens */
}

.bio {
  max-width: 615px;
}

main {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Allow the content to wrap on small screens */
  justify-content: center; /* Center the content on small screens */
  align-items: center; /* Center vertically on small screens */
}

.main-body {
  flex-grow: 1;
  display: grid;
  place-content: center;
  padding: 0 24px;
}

@media screen and (max-width: 768px) {
  #skills-icons {
    left: auto; /* Reset left property for small screens */
    margin-right: auto; /* Move to the right on small screens */
  }

  nav ul {
    justify-content: center; /* Center the menu items on small screens */
  }

  nav ul li {
    margin: 5px;
  }

  footer {
    position: static; /* Reset the footer position for small screens */
  }
}

@media screen and (max-width: 600px) {
  /*nav ul {*/
  /*  flex-direction: column; !* Stack the menu items on small screens *!*/
  /*}*/

  nav ul li {
    margin: 5px 0; /* Add margin between stacked menu items */
  }
}
